* {
  box-sizing: border-box;
}
html {
  font-family: pretendard;
  word-break: keep-all;
  font-size: 16px;
}
body {
  margin: 0;
  background-color: #000;
  color: #d9d9d9;
}
.sidebar {
  background-color: #161519;
  color: #8c8993;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 16px;
}
.logo {
  font-weight: 600;
  color: #fff;
}
.logoC {
  color: #7000ff;
}
.menu {
  list-style-type: none;
}
