html {
  font-family: pretendard;
  word-break: keep-all;
}
body {
  background-color: #000;
  color: #fff;
  margin: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 16px;
  font-weight: 700;
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0));
}
.wrap {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
}
.vd {
  width: 100%;
  opacity: 0.5;
}
.one {
  position: relative;
}
.headline {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
.headline > h1 {
  font-weight: 400;
  font-size: 70px;
  color: #fff;
  text-align: center;
  margin: -160px 0 0;
}
.small {
  font-size: 48px;
  color: rgba(217, 217, 217, 0.5);
}
.big {
  font-weight: 700;
}
.two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.two-bigMent {
  font-size: 56px;
  font-weight: 700;
  margin: 32px 0;
}
.two-smallMent {
  font-size: 24px;
}
.three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200px 0;
  padding: 80px 180px;
  background-color: #280357;
}
.three h2 {
  font-weight: 400;
  font-size: 40px;
  margin: 24px 0;
}
.three p {
  font-size: 24px;
}
.three-btn {
  border: 1px solid #fff;
  padding: 24px;
  border-radius: 16px;
  font-size: 24px;
  color: #fff;
  background-color: transparent;
}
.four-title,
.five-title {
  font-weight: 500;
  font-size: 24px;
  margin: 32px 0;
}
.four-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 120px;
}
.card {
  border: 2px solid #fff;
  border-radius: 16px;
  padding: 56px 96px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card.Event {
  border-color: #7f5fff;
}
.card.Event h3 {
  color: #7f5fff;
}
.card.Event .event-badge {
  position: absolute;
  top: 16px;
  right: 16px;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000;
  background-color: #7f5fff;
}
.card h3 {
  font-weight: 800;
  font-size: 24px;
  margin: 0 0 16px;
}
.five-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.five-content .wide {
  grid-column: 1/3;
}
